## Ignore Mac OS Stuff
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
/Android
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
/System Volume Information
